
.App {

  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1586892477901-f70e288a7318?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nzh8fHN0aWNreSUyMG5vdGV8ZW58MHx8MHx8fDA%3D');
  color: #e5e7eb;
  display: flex;
  height: 100vh;
  flex-direction: row;
  
}
.taskdiv{
  width: 100%;
  padding: 2%;
  margin-top: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-wrap: normal;
}
.model{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;

} 

.form {
  background-color: #fff;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

/* .input-container {
  position: relative;
} */

.input-container input, .form button {
  outline: none;
  border: 2px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  border-width: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 40%;
  border-radius: 0.5rem;
  position: relative;
  left: 38%;
  justify-content: center;
}


.text-area{
  width: 100%;
  height: 100px;
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 1.05rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
} 

.addtask {
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 20%;
  border-radius: 0.5rem;
  text-transform: uppercase;
  position: absolute;
  justify-content: center;
  bottom: 2%;
  right: 45%;
} 

.logo{
  background-color:#D8AE7E;
  height: 70px;
  position: absolute;
  opacity: 80%;
  top: 0%;
  width: 100%;
  display: flex;
}
.image{
  height: 60px;
  border-radius: 15px;
  margin-top: 5px;
  margin-left: 10px;

} 
.title{
  position: absolute;
  right: 45%;
  font-family: 'Sans-serif';
  color:blue;
}